


# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal

media/
staticfiles/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Node
# =========================
node_modules/

# =========================
# Build / Distribution
# =========================
dist/
build/
*.egg-info/


# Dependency snapshots
backend/requirements/installed.txt



